body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
}
.nav {
  padding-left: 14.5%;
  border: none;
  background-color: dimgray;
  color: white;   
}
.noBorder {
  border: none; 
}
.myContent {
  background-color: dimgray;
  color: white; 
}
img {
  width: 100%;
}
