<div *ngIf='product'>
  <div class='App-body-title'>
    <p>{{product.name}} details</p>
    <button class='App-add-to-favorites-btn' (click)=addProductToFavorites()>{{addToFavoritesBtnText}}</button>
    <button *ngIf='isAdmin()' class='App-add-to-favorites-btn'><a class='App-create-link' routerLink='/admin/edit/{{productId}}'>Edit product</a></button>
  </div>
  <div class='App-details'>
    <p>{{product.name}}</p>
    <p>{{price}}</p>
    <p>{{product.description}}</p>
    <p [innerHtml]='additionalInformation(product.additionalInformation)'></p>
  </div>
  <div class='App-details-img-container'>
    <img class='App-details-img' src={{product.img}} alt='{{product.name}}' />
  </div>
</div>
<div class='App-comments'>
  <div class='App-body-title-comments'>
    <p>Comments</p>
  </div>
  <div class='App-details-comments'>
    <div *ngFor='let comment of comments'>
      <app-comment [comment]='comment' [removeComment]='removeComment'></app-comment>
    </div>
    <div class='App-add-comment-btn'>
      <div *ngIf='showInput'>
        <input class='App-add-comment-input' type='text' [(ngModel)]="comment" />
      </div>
      <button class='App-add-comment' (click)='addPostComment()'>
        {{addPostCommentText}}
      </button>
    </div>
  </div>
</div>