<h1>Test your ajax here</h1>
<hr class="style-seven" />
<form class="needs-validation" [formGroup]="myForm" (submit)="submit()">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="method">Options</label>
    </div>
    <select class="custom-select" id="method" formControlName='method'>
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
      <option value="PATCH">PATCH</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="url">URL</label>
    </div>
    <input type="url" class="form-control" id="url" placeholder="Web address" formControlName='url' />
    <div class="valid-feedback" *ngIf="url.valid && url.dirty">
      {{addIsValidClass(urlEl)}} Looks good!
    </div>
    <div class="invalid-feedback" *ngIf="url.errors?.required && url.dirty">
      {{addIsInvalidClass(urlEl)}} Provide a url.
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="endpoint">End point</label>
    </div>
    <input type="text" class="form-control" id="endpoint" placeholder="Additional parameters (optional)" formControlName='endpoint'
    />
    <div class="valid-feedback" *ngIf="endpoint.valid && endpoint.dirty">
      {{addIsValidClass(endpointEl)}} Looks good!
    </div>
    <div class="invalid-feedback" *ngIf="endpoint.errors?.hasSpaces && endpoint.dirty">
      {{addIsInvalidClass(endpointEl)}} Spaces aren't allowed.
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]='myForm.invalid'>Send request</button>
</form>
<div *ngIf='data'>
  <div class="mb-2 mt-4 btn-group" role="group">
    <button type="button" class="btn btn-secondary" (click)="changeDataFormat('Pretty')">Pretty</button>
    <button type="button" class="btn btn-secondary" (click)="changeDataFormat('Table')">Table</button>
  </div>
  <div class="rounded bg-white">
    <pre class="code-pre" *ngIf='dataFormat !== "Table"' [innerHTML]="getData()"></pre>
    <div *ngIf='dataFormat === "Table"'>
      <app-data-table [data]='getData()'></app-data-table>
    </div>
  </div>
  <button class="btn btn-primary" (click)='download()'>Download json file</button>
</div>