<div class='App-body-title'>
  <p>REGISTER</p>
</div>
<form class='App-auth'>
  <p>
    <label>
      Name
      <input class='App-form-input' type='text' id='name' name='name' />
    </label>
  </p>
  <p>
    <label>
      Username
      <input class='App-form-input' type='text' id='username' name='username' />
    </label>
  </p>
  <p>
    <label>
      Email
      <input class='App-form-input' type='email' id='email' name='email' />
    </label>
  </p>
  <p>
    <label>
      Password
      <input class='App-form-input' type='password' id='password' name='password' />
    </label>
  </p>
  <p>
    <label>
      Confirm Password
      <input class='App-form-input' type='password' id='password2' name='password2' />
    </label>
  </p>
  <input class='App-form-submit' type='submit' />
</form>