<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/home">Api Tester</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="#">Home</a> -->
      <a class="nav-item nav-link" routerLink='/api/info'>Get Started</a>
      <!-- <a class="nav-item nav-link" href="#"></a> -->
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <app-button-slider></app-button-slider>
  </div>
</nav>