/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.App-button-slider {
  margin: 8% 0 0 0;
  padding: 0;
  width: 60px;
  height: 30px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: black;
}

.App-button-slider-bullet {
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 20px;
}

.App-button-slider-bullet-active {
  margin: 0 0 0 55%;
}

.fa-heart {
  color: red;
}

.nav-link.disabled {
  color: white !important;
}

.night-mode {
  background-color: #000;
}

.night-mode img {
  filter: invert(100%);
}

body {
  background-color: #fff;
  transition: all 0.25s ease-out;
}

.input-group-text {
  background-color: lightgray;
}

.input-group>.input-group-prepend {
  flex: 0 0 12%;
}

.input-group .input-group-text {
  width: 100%;
}

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.style-seven:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.style-eight {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr.style-eight:after {
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}

form > div.input-group {
  filter: drop-shadow(3px 3px 3px #333);
}

.btn {
  filter: drop-shadow(3px 3px 3px #333);
}

.rounded {
  filter: drop-shadow(3px 3px 3px #333);  
}

.string {
   color: rgb(31, 100, 14);
}

.number {
  color: darkgoldenrod; 
}

.boolean {
   color: blue; 
}

.null { 
  color: magenta; 
}

.key { 
  color: indigo; 
}

td.align-middle.text-center {
  cursor: pointer;
}

td.align-middle.text-center:hover > .resize-hover {
  transform: scale(1.5);
}

td > .resize-hover {
  transition: all .2s ease-in-out;
}

.customTooltip {
  position: relative;
}

.customTooltip .customTooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.customTooltip .customTooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.customTooltip:hover .customTooltiptext {
  visibility: visible;
  opacity: 1;
}

.invalid-feedback {
  text-shadow: -0.5px 0 #f8f9fa, 0 0.5px #f8f9fa, 0.5px 0 #f8f9fa, 0 -0.5px #f8f9fa;
}

.valid-feedback {
  text-shadow: -0.5px 0 #f8f9fa, 0 0.5px #f8f9fa, 0.5px 0 #f8f9fa, 0 -0.5px #f8f9fa;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.42857;
}
