/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.App-button-slider {
  margin: 8% 0 0 0;
  padding: 0;
  width: 60px;
  height: 30px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: black;
}

.App-button-slider-bullet {
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 20px;
}

.App-button-slider-bullet-active {
  margin: 0 0 0 55%;
}

.fa-heart {
  color: red;
}

.nav-link.disabled {
  color: white !important;
}

.night-mode {
  /* filter: invert(100%); */
  background-color: #000;
}

/* The important thing here is to not invert the photos */
.night-mode img {
  filter: invert(100%);
}

body {
  background-color: #fff;
  transition: all 0.25s ease-out;
}

.input-group-text {
  background-color: lightgray;
}

.input-group>.input-group-prepend {
  flex: 0 0 10%;
}
.input-group .input-group-text {
  width: 100%;
}