<header class='App-header'>
  <ul class='App-nav-list'>
    <li class='App-nav-list-item App-nav-float-left'>
      <a to='/'>
        <img src="../../../favicon.ico" class='App-logo' alt='logo' />
      </a>
    </li>
    <li class='App-nav-list-item'>
      <a class='App-title'>Welcome to the armory</a>
    </li>
    <div>
      <li class='App-nav-list-item'>
        <a class='App-nav-link' href='/favorites'>Favorites</a>
      </li>
      <li class='App-nav-list-item'>
        <a class='App-nav-link' href='/logout'>Logout</a>
      </li>
      <li class='App-nav-list-item'>
        <a class='App-nav-link' href='/login'>Login</a>
      </li>
      <li class='App-nav-list-item'>
        <a class='App-nav-link' href='/register'>Register</a>
      </li>
    </div>
  </ul>
</header>