<div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="form" (ngSubmit)="register()">
      <!-- //USERNAME -->
      <div *ngIf="form.get('username').touched && form.get('username').invalid">
        <div *ngIf="form.get('username').errors.required" class="alert alert-danger">Username cannot be empty!</div>
        <div *ngIf="form.get('username').errors.minlength" class="alert alert-danger">Username should be more than 4 symbols.</div>
        <div *ngIf="form.get('username').errors.pattern" class="alert alert-danger">Username should consist only of letters and digits and start with capital letter.</div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username" required>
      </div>

      <!-- //PASSWORD -->
      <div *ngIf="form.get('password').touched && form.get('password').invalid">
        <div *ngIf="form.get('password').errors.required" class="alert alert-danger">Password cannot be empty!</div>
        <div *ngIf="form.get('password').errors.minlength || form.get('password').errors.maxlength" class="alert alert-danger">Password should be more than 4 symbols and less then 16 symbols.</div>
        <div *ngIf="form.get('password').errors.pattern" class="alert alert-danger">Password should consist only of letters and digits.</div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" required>
      </div>

      <!-- //PASSWORD2 -->
      <div *ngIf="form.get('password2').touched && form.get('password2').invalid">
        <div *ngIf="form.get('password2').errors.required" class="alert alert-danger">Password cannot be empty!</div>
        <div *ngIf="form.get('password2').errors.minlength || form.get('password2').errors.maxlength" class="alert alert-danger">Password should be more than 4 symbols and less then 16 symbols.</div>
        <div *ngIf="form.get('password2').errors.pattern" class="alert alert-danger">Password should consist only of letters and digits.</div>
        <div *ngIf="form.get('password2').errors.noMatch" class="alert alert-danger">Passwords don't match!</div>
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" formControlName="password2" required>
      </div>

      <!-- //FIRSTNAME -->
      <div *ngIf="form.get('firstName').touched && form.get('firstName').invalid">
        <div *ngIf="form.get('firstName').errors.required" class="alert alert-danger">Firstname cannot be empty!</div>
        <div *ngIf="form.get('firstName').errors.pattern" class="alert alert-danger">Firstname should start with a capital letter and consist of letters.</div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" required>
      </div>

      <!-- //LASTNAME -->
      <div *ngIf="form.get('lastName').touched && form.get('lastName').invalid">
        <div *ngIf="form.get('lastName').errors.required" class="alert alert-danger">Lastname cannot be empty!</div>
        <div *ngIf="form.get('lastName').errors.pattern" class="alert alert-danger">Lastname should start with a capital letter and consist of letters.</div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" required>
      </div>

      <!-- //EMAIL -->
      <div *ngIf="form.get('email').touched && form.get('email').invalid">
        <div *ngIf="form.get('email').errors.required" class="alert alert-danger">Email cannot be empty!</div>
        <div *ngIf="form.get('email').errors.pattern" class="alert alert-danger">Provide a valid email.</div>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="text" class="form-control" formControlName="email" required>
      </div>

      <!-- //AGE -->
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" formControlName="age">
      </div>

      <button type="submit" class="btn btn-success form-control" [disabled]="form.invalid">Register</button>
  </form>
  </div>